/*body{
background-image: url("Miaw/assets/img/dawn.png");

}*/

/*@media only screen and (max-width: 500px) {
    body {
        background-image: url(../Miaw/assets/img/dawn.png);
    }
}*/

/*#third{
  background: url(../Miaw/assets/img/Landscape.jpg);

}

#second{
  background: url(../Miaw/assets/img/dawn.png);
  width: 100%;
}

#first{
  background: url(../Miaw/assets/img/maxresdefault.jpg);
  width: 100%;
}*/
*{
  box-sizing: border-box;
}

body{
  background: url(../Miaw/assets/img/Landscape.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

@media only screen and (max-width: 650px) {
    body {
        background-image: url(../Miaw/assets/img/dawn.png);
    }
}

@media only screen and (max-width: 465px) {
    body {
        background-image: url(../Miaw/assets/img/maxresdefault.jpg);
    }
}


img{
  display: block;
  margin: 0 auto;

}
