img{
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

/*body{
background-image: url("Miaw/assets/img/dawn.png");

}*/

@media only screen and (max-width: 500px) {
    body {
        background-image: url(Miaw/assets/img/dawn.png);
    }
}
